:root{
  --montserrat: "Montserrat", sans-serif;
}
.body{
  display: flex;
  height: 100vh;
  width: auto;
  display: block;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width: 30%;
  border-color: #000;
}

.campos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-textarea{

}
